/* #region Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: poppinsBold;
  src: url(/font/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppinsSemiBold;
  src: url(/font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppinsMedium;
  src: url(/font/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppinsMediumItalic;
  src: url(/font/Poppins/Poppins-MediumItalic.ttf);
}

@font-face {
  font-family: poppins;
  src: url(/font/Poppins/Poppins-Regular.ttf);
}

h1 {
  font-size: 48px;
  font-family: poppinsBold;
}

h2 {
  font-size: 40px;
  font-family: poppinsBold;
  text-align: center;
}

h3 {
  font-family: poppinsSemiBold;
}

p {
  font-size: 18px;
  font-family: poppins;
}

.poppinsMedium {
  font-size: 24px;
  font-family: poppinsMedium;
}

.content {
  width: 1200px;
  margin: auto;
}

section {
  margin-top: 15vh !important;
}

.alignCenterText {
  text-align: center;
}

.btn {
  padding: 10px 15px;
  width: 260px;
  font-family: poppins;
}

.btn a {
  text-decoration: none;
  color: white;
}

.blueText {
  color: #3ba2db;
}

/* img modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding: 2%; /* Location of the box */
  text-align: center;
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  z-index: 4;
}

/* #endregion */

/* #region Header */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
}

.logo {
  width: 220px;
}

.navLinks {
  display: flex;
}

.navLinks a {
  margin-left: 50px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

#hamburgerIcon {
  display: none;
}

.blackLink {
  color: black;
}

.navLinks a:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.navBuyBtn {
  background: #40bcd8;
  border-radius: 50px;
  color: white;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.35);
}
/* #endregion */

/* #region Forside Body */
/* landingpage section */
.lpImg {
  background-image: url(/img/forside.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 190vh;
  margin-top: 6vh;
}

.lpContent {
  width: 30%;
}

.lpContent svg {
  margin-left: 150px;
}

.lpBtn {
  margin-top: 3vh;
  border-radius: 50px;
  font-size: 24px;
  color: white;
  background: #088391;
  border: none;
  cursor: pointer;
  border: 2px solid #40bcd8;
}

.lpBtn:hover {
  transition: 0.2s ease-in-out;
  background: white;
}

.lpBtn:hover a {
  color: #088391;
}

.lpContent2 {
  margin-top: 65vh;
  display: flex;
}

.lpContent2 h2 {
  color: white;
  text-align: left;
  font-size: 42px;
  margin-top: 0;
  padding-left: 3%;
}

.lpContent2 p {
  background: white;
  padding: 30px 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.lpContent2 iframe {
  width: 504.88px;
  height: 452px;
}

.lpContent2 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ads section */
.ads {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 4vh auto 0 auto;
  width: 80%;
}

.ads p {
  width: 50%;
}

.adsIcon {
  width: 30%;
}

.adsIcon i {
  font-size: 50px;
  color: #40bcd8;
}

.adsMobileOnly {
  display: none;
}

/* 100% completed course section */
.completedCourse {
  display: flex;
  align-items: center;
  position: relative;
}

.completedCourse div {
  width: 50%;
}

.completedCourse img {
  width: 80%;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.35);
}

.completedCourseText h2,
.completedCourseText p {
  text-align: right;
}

.completedCircle {
  position: absolute;
  width: 559px;
  height: 559px;
  background: #1c80a3;
  border-radius: 50%;
  top: -50%;
  left: -40%;
  z-index: -99;
}

/* kursus indhold section */
.courseContains {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.courseContainsContent {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 2% 0;
}

.courseContainsContent p {
  border: 1px solid rgba(0, 0, 0, 0.19);
  width: 70%;
  text-align: center;
  padding: 50px 4%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: white;
}

.hiddenSpan {
  display: none;
  color: white;
}

.courseContainsContent p:hover {
  transition: 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
}
.courseContainsContent p:hover .hiddenSpan {
  display: flex;
}

.courseContainsContent p:hover .shownSpan {
  display: none;
}

.courseContentIcons {
  font-size: 35px;
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  color: #40bcd8;
  top: -1%;
  left: 20%;
}

.seeMoreBtn {
  margin-top: 3vh;
  border-radius: 50px;
  font-size: 24px;
  color: white;
  background: #088391;
  border: none;
  cursor: pointer;
  border: 2px solid #40bcd800;
}

.seeMoreBtn:hover {
  transition: 0.2s ease-in-out;
  background: white;
  border: 2px solid #40bcd8;
}

.seeMoreBtn:hover a {
  color: #088391;
}

.courseContainsCircle {
  position: absolute;
  width: 361px;
  height: 361px;
  background: #40bcd8;
  border-radius: 50%;
  top: -15%;
  right: -10%;
  z-index: -99;
}

.courseContainsCircle2 {
  position: absolute;
  width: 29px;
  height: 29px;
  background: #1c80a3;
  border-radius: 50%;
  bottom: 22%;
  right: 9%;
  z-index: 1;
}

.courseContainsCircle3 {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #40bcd8;
  border-radius: 50%;
  bottom: 20.5%;
  right: 11%;
  z-index: 1;
}

/* comments section */
.commentSection {
  position: relative;
  height: 400px;
}

#commentSection {
  width: 60%;
  margin: auto;
  font-family: poppins;
  text-align: center;
}

.commentArrowLeft {
  position: absolute;
  top: 40%;
  left: 10%;
  padding: 20px;
  cursor: pointer;
}

.commentArrowRight {
  position: absolute;
  top: 40%;
  right: 10%;
  padding: 20px;
  cursor: pointer;
}

#commentName {
  margin-top: 4vh;
  font-family: poppinsMediumItalic;
  text-align: center;
  display: list-item; /* This has to be "list-item"                                               */
  list-style-type: disc; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  list-style-position: inside;
}

.commentCircle1 {
  position: absolute;
  width: 203px;
  height: 203px;
  top: -10%;
  left: 0;
  background: #1c80a3;
  border-radius: 50%;
  z-index: -1;
}

.commentCircle2 {
  position: absolute;
  width: 84px;
  height: 84px;
  bottom: 0;
  right: 5%;
  background: #40bcd8;
  border-radius: 50%;
  z-index: -1;
}

/* start i dag section */

.startTodayBtn {
  margin-top: 3vh;
  border-radius: 50px;
  font-size: 24px;
  color: white;
  background: #1c80a3;
  border: none;
  cursor: pointer;
  border: 2px solid #1c80a3;
}

.startTodayBtn:hover {
  transition: 0.2s ease-in-out;
  background: white;
}

.startTodayBtn:hover a {
  color: #1c80a3;
}

.startTodaySection {
  display: flex;
}

.startTodaySection div {
  width: 48%;
}

.startTodaySection h2 {
  text-align: left;
}

.startTodaySection svg {
  margin-left: 110px;
  margin-top: -10px;
}

.startTodaySection div img {
  width: 100%;
}

/* #endregion */

/* #region Kursus Body */
/* mentor course section */
.mentorCourse {
  display: flex;
}
.coursePrice {
  font-size: 36px;
}
.courseSlogan {
  font-size: 14px;
}
.courseLeft {
  width: 50%;
  padding-right: 10%;
}
.courseRight {
  width: 50%;
}

.courseRight img {
  width: 100%;
}

.courseBtn {
  margin-top: 3vh;
  border-radius: 50px;
  font-size: 24px;
  color: white;
  background: #40bcd8;
  border: none;
  cursor: pointer;
  border: 2px solid #40bcd8;
}

.courseBtn:hover {
  transition: 0.2s ease-in-out;
  background: white;
}

.courseBtn:hover a {
  color: #40bcd8;
}

.fa-arrow-right {
  margin-left: 30px;
}

.dropDownContainer {
  cursor: pointer;
}

.dropDownInfo {
  border: 1px solid black;
  padding: 3% 5%;
  display: flex;
  justify-content: space-between;
}

.dropDownHidden {
  border: 1px solid black;
  padding: 3% 5%;
}

.toggleHidden {
  display: none;
}

/* what you learn section */
.whatYouLearn {
  border: 1px solid black;
  box-shadow: 0px 1px 5px black;
}

.learningList {
  display: flex;
  padding: 2vh;
}

.fa-check-circle {
  font-size: 40px;
  padding-right: 1%;
  color: #04bf00;
}

.whatYouLearnContainer {
  display: flex;
  width: 90%;
  margin: auto;
}

.whatYouLearnLeft {
  width: 50%;
}
.whatYouLearnRight {
  width: 50%;
}

/* my results section */

.circleContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.circleResults {
  border: 2px solid #40bcd8;
  width: 48%;
  height: 60vh;
  border-radius: 50%;
  margin: 1%;
  position: relative;
}
.circleContent {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -15%);
}

.circleContent img {
  width: 100%;
}

.myImgC:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 0px 10px black;
}

.circleContainer p {
  text-align: center;
  padding: 10% 5%;
}

/* fuld gennemgang section */
.gennemgang img {
  width: 70%;
  display: block;
  margin: 2vh auto;
}
/* #endregion */

/* #region Footer */
.footerDiv {
  display: flex;
  padding: 3vh 0;
}

.footerDiv div {
  padding-right: 4%;
}
.footerDiv div * {
  padding: 1% 0 1% 0;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 2vh 0;
}
/* #endregion */

/* #region Om Mig Body */
.omMigSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.omMigLeft {
  width: 40%;
}

.omMigRight {
  width: 30%;
  text-align: center;
}

.omMigRight img {
  width: 80%;
  border-radius: 50%;
}

.omMigSoMe {
  font-size: 40px;
  padding: 15px;
  cursor: pointer;
}

/* #endregion */

/* #region kontakt os Body */
.kontaktOsSection {
  display: flex;
  justify-content: space-between;
}

.kontaktOsLeft {
  width: 45%;
}

.kontaktOsRight {
  width: 50%;
}

.kontaktOsRight form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 5px;
}

input[type="text"],
textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  outline: none;
}

textarea {
  min-height: 150px;
  min-width: 100%;
}

input[type="submit"] {
  font-family: poppinsMedium;
  padding: 10px;
  margin: 2vh auto 0 auto;
  background: #40bcd8;
  border: 2px solid #40bcd8;
  border-radius: 15px;
  width: 50%;
  cursor: pointer;
  color: white;
}

input[type="submit"]:hover {
  background: white;
  color: #40bcd8;
}

/* #endregion */

/* #region kalender */
.kalender {
  display: flex;
  justify-content: center;
}
.kalenderLeft {
  border: 1px solid black;
  width: 50%;
  padding: 2%;
}
.kalenderLeft li {
  font-family: poppins;
  font-size: 18px;
}
.kalenderRight {
  border: 1px solid black;
  width: 50%;
  padding-top: 2%;
}

#kalenderDayNames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}
#kalenderDays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.dayName {
  padding: 25%;
}
.days {
  padding: 15%;
  cursor: pointer;
}

.days:hover {
  border-radius: 50%;
  background: #40bcd8;
  opacity: 0.8;
}

#date {
  text-align: right;
}

#month {
  text-align: center;
  font-family: poppinsBold;
  font-size: 24px;
}
/* #endregion */

/* #region media queries */
/* 1200px */
@media only screen and (max-width: 1200px) {
  /* global */
  .content {
    width: 80%;
  }
  h1 {
    font-size: 40px;
  }

  section {
    margin-top: 8vh !important;
  }

  /* header */
  .navLinks a {
    padding: 5px 10px;
  }

  .logo {
    width: 160px;
  }
  /* Forside Body */
  .lpImg {
    height: 115vh;
  }
  .lpContent svg {
    margin-left: 50px;
  }
  .lpContent2 {
    margin-top: 20vh;
  }

  .commentCircle1 {
    top: -25%;
  }

  .courseContentIcons {
    top: -5%;
  }

  .commentSection {
    height: 100%;
  }

  /* Kursus Body */
  .circleContainer p {
    font-size: 1.5vw;
  }

  .circleResults {
    height: 30vh;
  }

  /* Om Mig Body */
  .omMigRight img {
    width: 100%;
  }
}

/* 1000px */
@media only screen and (max-width: 1000px) {
  /* Global */
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  .btn {
    width: 185px;
  }

  /* Header */
  .navLinks {
    position: absolute;
    top: 10%;
    left: 0;
    flex-direction: column;
    background: white;
    width: 100%;
    text-align: center;
  }

  .lpImg {
    margin-bottom: 25vh;
  }

  .toggleMenu {
    display: none;
  }
  .navLinks a {
    margin: 0;
  }

  #hamburgerIcon {
    display: block;
    font-size: 35px;
    cursor: pointer;
    z-index: 2;
  }

  #hamburgerTimes {
    font-size: 35px;
    cursor: pointer;
    z-index: 2;
  }

  /* Forside Body */
  .lpImg {
    height: 80vh;
  }
  .lpContent2 {
    margin-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lpContent2 h2 {
    font-size: 28px;
    color: black;
    text-align: center;
  }

  .lpContent2 h2 br {
    display: none;
  }

  .lpContent2 p br {
    display: none;
  }

  .lpContent svg {
    margin-left: 0;
  }

  .adsContainer {
    margin-top: 30vh !important;
  }

  .lpBtn {
    font-size: 15px;
  }

  .seeMoreBtn {
    font-size: 15px;
  }

  .startTodayBtn {
    font-size: 15px;
  }

  .completedCircle {
    width: 400px;
    height: 300px;
    top: 0;
  }

  .courseContainsCircle {
    width: 200px;
    height: 200px;
    top: 0;
  }

  .courseContainsCircle2 {
    bottom: 20%;
  }

  .courseContainsCircle3 {
    bottom: 17.5%;
    right: 13%;
  }

  .courseContainsContent p {
    font-size: 2.5vw;
  }

  #commentSection {
    width: 70%;
  }
  .commentArrowRight {
    right: 5%;
  }

  .commentArrowLeft {
    left: 5%;
  }

  .commentCircle1 {
    top: -30%;
    left: -60px;
  }

  .startTodaySection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .startTodaySection div {
    width: 100%;
    text-align: center;
  }
  .startTodaySection h2 {
    text-align: center;
  }
  .startTodaySection svg {
    margin-left: 15%;
    margin-top: 0;
  }

  /* kalender */
  .kalender {
    display: block;
  }
  .kalenderLeft {
    width: 100%;
  }

  .kalenderRight {
    width: 100%;
  }
}

/* 500px  */
@media only screen and (max-width: 500px) {
  /* Forside */
  .lpImg {
    background-image: none;
    height: auto;
    margin-bottom: 0;
  }
  .lpContent {
    width: 100%;
  }
  .lpContent2 iframe {
    width: 100%;
    height: 200px;
  }

  .lpContent2 h2 {
    color: black;
    padding-bottom: 1vh;
  }
  .adsContainer {
    margin-top: 0 !important;
  }
  .ads {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .adsIcon {
    width: 100%;
  }

  .ads p {
    width: 100%;
  }

  .adsDesktopOnly {
    display: none;
  }
  .adsMobileOnly {
    display: flex;
  }

  .completedCourse {
    flex-direction: column;
    text-align: center;
  }
  .completedCourse div {
    width: 100%;
    text-align: center;
  }

  .completedCourseText h2,
  .completedCourseText p {
    text-align: center;
  }

  .courseContains {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .courseContainsContent {
    width: 100%;
    padding: 5% 0;
  }
  .courseContainsContent p {
    justify-content: center;
  }
  .courseContainsCircle2 {
    right: 0%;
  }
  .courseContainsCircle3 {
    bottom: 18.5%;
    right: 8%;
  }

  .commentCircle1 {
    top: -5%;
    left: -155px;
  }

  #commentSection {
    width: 90%;
  }

  .commentArrowLeft {
    left: -10%;
  }

  .commentArrowRight {
    right: -10%;
  }

  /* Kursus */
  .mentorCourse {
    flex-direction: column;
  }
  .courseLeft {
    width: 100%;
  }

  .courseRight {
    width: 100%;
  }

  .whatYouLearnContainer {
    flex-direction: column;
  }

  .whatYouLearnLeft {
    width: 100%;
  }
  .whatYouLearnRight {
    width: 100%;
  }

  .circleContainer {
    flex-direction: column;
  }

  .circleResults {
    width: 100%;
  }

  .circleResults {
    height: 35vh;
  }
  .circleContainer p {
    font-size: 2.5vw;
  }

  /* Om Mig */
  .omMigSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .omMigLeft {
    width: 100%;
    margin-bottom: 2vh;
  }
  .omMigRight {
    width: 100%;
  }

  /* Kontakt Os */
  .kontaktOsSection {
    flex-direction: column;
  }

  .kontaktOsLeft {
    width: 100%;
  }

  .kontaktOsRight {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) and (max-height: 670px) {
  .circleResults {
    height: 43vh;
  }
}

@media only screen and (max-height: 850px) {
  .circleResults {
    height: 65vh;
  }
}

/* #endregion */
